<template>
  <div>
    <div class="card" v-for="forecast in info">
      <div class="card-body">
        <h5 class="card-title"><b style="text-transform: uppercase">{{ city + ' '+ country }}</b></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ forecast.dt_txt }}</h6>
        <p class="card-text">
            <div class="row">
                <div class="col">
                    Temperature : {{ forecast.main.temp }} <br>
                    {{ forecast.weather[0].description }}
                </div>
            </div>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        props : ['city','country'],
        data () {
            return {
              info: null
            }
          },
          mounted () {
            axios
              .get('https://api.openweathermap.org/data/2.5/forecast?q='+this.city+','+this.country+'&units=metric&cnt=1&appid=f42a18077680054c52dac93faf6ae2ab')
              .then(response => (this.info = response.data.list))
          }
    }
</script>
