<template>
  <div>
    <div class="card">
      <div class="card-body">
            <div class="row" v-for="venue in info">
                <table class="table table-bordered">
                    <tr>
                        <th width="10px;">Name</th>
                        <td>{{ venue.name }}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>
                            <span v-for="categ in venue.categories">{{ categ.shortName }}</span>
                         </td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>
                            {{ venue.location.formattedAddress.join() }}
                         </td>
                    </tr>
                </table>
            </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        props : ['city','country'],
        data () {
            return {
              info: null
            }
          },
          mounted () {
            axios
              .get('https://api.foursquare.com/v2/venues/search?near='+this.city+','+this.country+'&client_id=ZQ21RMIIETICO4XGSULC320LJ1LGBCD3WLVL0NJG3LLC21HG&client_secret=C3TGNRYNLLAIZK510MA53C3ZT3LKY0MGRXZB4PLFFJC0QVG1&v=20200326')
              .then(response => (this.info = response.data.response.venues))
          }
    }
</script>
