<template>
    <div class="container">
        <div v-for="city in jpcities" class="card">
            <div class="card-body">
                <h5 class="card-title"><b>{{ city.name }}</b></h5>
                <p class="card-text">{{ city.description }}</p>
                <a :href="'weather/check/' + city.name +'/'+ city.country" class="btn btn-primary"> Check City</a>
              </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props : ['cities'],
        data (){
            return {
                jpcities : JSON.parse(this.cities),
            }
        }
    }
</script>
